.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.name{
  color: rgb(43, 226, 43);
  text-align: center;
  text-decoration: underline;
}
nav{
  background-color: black;
  color: azure;
}
li{
  display: inline;
  /* margin: 15px; */
  
}
h2{
  color: rgb(15, 12, 13);
  text-align: center;
  text-decoration-line: underline;
}
.container2{
  padding-top: 20px;
  /* border: solid black 3px; */
padding-left: 20px;
}
.btnbtnprimary{
  background-color: blue;
  color: aliceblue;
  margin-bottom: 20px;
}
.form-check-label{
  color: blue;
  padding-right: 9px;
}
.abovefoot,ul,li{
display: block;
}